@font-face {
  font-family: "Pokemon-Classic";
  src: url("../font/PokemonClassic.ttf") format("truetype");
}

@mixin font-generate($weight, $size) {
  font-family: "Pokemon-Classic";
  font-weight: $weight;
  font-size: $size;
}
