@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

@mixin font-generate($weight, $size) {
	font-family: "Cabin", sans-serif;
	font-weight: $weight;
	font-size: $size;
}
